# Build artifacts
target/
build/
dist/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IDE-specific files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store